[submodule "addons/teste-addon"]
	path = addons/teste-addon
	url = git@github.com:luansm50/teste-addon.git
[submodule "addons/intel-bots"]
	path = addons/intel-bots
	url = git@code.intelligenti.com.br:intelligenti/intel-bots.git
